/* 1rem = 10px */
html,
body {
  height: 100%;
  overflow: hidden;
}
body.editor {
  background-color: #1d1f10;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  color: #ffffff;
}
.box {
  background: #1d1f20;
}
/*
 * 布局接口：
 *    layout-side: 边靠
 *    layout-top： 定靠
 *
 */
body.layout-side .top-boxes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  min-width: 216px;
  height: 100%;
}
body.layout-side .resizer {
  background: #555;
  height: 100%;
  width: 14px;
  cursor: col-resize;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
}
body.layout-side .resizer span {
  display: block;
  height: 100%;
  background: url("../../images/handle-horz.png") center center no-repeat;
}
body.layout-side .box-direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
body.layout-side .result-div {
  height: 100%;
  overflow: hidden;
}
body.layout-side .editor-width {
  bottom: 15px;
  left: 50%;
  padding: 1px 4px;
}
body.layout-side .editor-resizer:first-child,
body.layout-side #box-html .box-handle {
  cursor: auto;
}
body.layout-side .editor-resizer {
  height: 3px;
  background: -webkit-linear-gradient(top, #505050, #383838);
  background: linear-gradient(to bottom, #505050, #383838);
  cursor: row-resize;
}
body.layout-side .box {
  height: 32%;
  /*33.333%（这里暂代）*/
  height: calc((100% - 3px*3) / 3 );
  /*3条3px控制条*/
  position: relative;
  overflow: hidden;
}
body.layout-side .box-handle {
  display: block;
  cursor: row-resize;
}
body.layout-top .top-boxes {
  width: 100%;
  height: 350px;
  min-height: 125px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
body.layout-top .resizer {
  background-color: #343436;
  border-bottom: 1px solid #000000;
  box-shadow: 0 0 1px #000;
  height: 17px;
  cursor: row-resize;
  position: relative;
  z-index: 10;
}
body.layout-top .resizer span {
  display: block;
  height: 100%;
  background: url("../../images/handle-horz.png") center center no-repeat;
}
body.layout-top .box-direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.layout-top .editor-width {
  left: 50%;
  margin-top: -7px;
}
body.layout-top .box {
  width: 32%;
  /*33.333%（这里暂代）*/
  width: calc((100% - 20px*3) / 3 );
  /*3条20px控制条 横向*/
  height: 100%;
  position: relative;
  overflow: hidden;
}
body.layout-top .editor-resizer {
  position: relative;
  width: 20px;
  cursor: col-resize;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background: #343436;
}
body.layout-top .editor-resizer:first-child {
  cursor: auto;
}
body.layout-top .box-visual-title {
  position: absolute;
  left: 60px;
  top: 7px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  z-index: 100;
}
body.layout-top .box-action-left h2 span {
  visibility: hidden;
}
body.layout-top .is-horiz h2 {
  -webkit-transform: translate(-53px, -11px) rotate(90deg) scale(0.9);
      -ms-transform: translate(-53px, -11px) rotate(90deg) scale(0.9);
          transform: translate(-53px, -11px) rotate(90deg) scale(0.9);
}
body.layout-right #editor {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
body.layout-right .resizer {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
/*****************************/
.main-header {
  background-color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}
.title-area {
  padding: 10px 15px 0 15px;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.title-area .logo {
  width: 35px;
}
.title-area .logo img {
  width: 70%;
  margin-top: 3px;
}
.title-text {
  width: 100%;
  overflow: hidden;
}
.title-text .by {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #999;
}
#pen-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  margin: 0 0 4px 0;
  line-height: 1.1;
}
#pen-title a {
  color: inherit;
}
.header-chunk {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-chunk button {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background: #343436;
  margin-right: 15px;
}
.header-chunk button:hover {
  border: 3px solid #343436;
  background: #484747;
}
.header-chunk button i {
  margin-right: 5px;
  vertical-align: -1px;
}
.page-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  position: relative;
}
.code-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.result {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: -webkit-radial-gradient(#1d1f20, #2f3031);
  background: radial-gradient(#1d1f20, #2f3031);
}
.site-footer {
  height: 40px;
  line-height: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  color: #999;
  background: #343436;
  border-top: 1px solid #3E3E3F;
  z-index: 10;
}
.editor-width {
  position: absolute;
  z-index: 50;
  background: #eee;
  color: #333;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 9px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.1s;
          transition: opacity 0.1s;
}
.box-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  padding: 5px 5px 5px 0;
}
.box-handle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
.box-action-left,
.editor-resizer {
  float: left;
  padding-left: 5px;
}
.box-action-left h2,
.editor-resizer h2 {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-weight: bold;
  color: #ccc;
  margin: 0;
  font-size: 1.3em;
  display: inline-block;
  padding-left: 2px;
  vertical-align: middle;
}
.box-action-left h2 button,
.editor-resizer h2 button {
  vertical-align: middle;
}
.box-action-right {
  position: absolute;
  right: 5px;
  top: 8px;
}
.code-wrap {
  visibility: hidden;
  min-width: 200px;
  height: 100%;
  height: calc(100% - 36px);
}
.iframe-hock {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}
.result-iframe {
  border: 0;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
